body {
  background-color: aquamarine;
  font-family: 'Times New Roman', Times, serif;
  font: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  width: 350px;
  height: 250px;
}

.container p {
  font-size: 22px;
  margin-bottom: 15px;
  color: #35c40e;
}

.add-style {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
  background-color: #28a745;
  color: white;
}

.input-style {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.input-username {
  border-radius: 6px;
  padding: 8px;
}

.input-password {
  border-radius: 6px;
  padding: 8px;
}

.form-group {
  align-items: center;
  display: flex;
  margin: 10px 0;
  justify-content: space-around;
}

.form-group label {
  width: 120px;
  text-align: right;
  margin-right: 10px;
}

.form-group input {
  flex: 1;
  border-radius: 6px;
  padding: 8px;
}

.loginButton {
  margin-top: 15px;
  margin-left: 200px;
  background: #28a745;
  color: white;
  padding: 12px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 35%;
  font-size: 14px;
}

.logbutton:hover {
  background: #218838;
}

.input-username {
  border-radius: 6px;
  padding: 8px;
}

.input-password {
  border-radius: 6px;
  padding: 8px;
}

.form-link {
  display: block;
  margin-top: 15px;
  text-align: center;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}